footer {
  .container {
    display: block;
    font-size: 18px;
    text-align: center;
    margin: 16px auto;
    padding: 8px;
    background-color: $dg-white;
    @include box-shadow(5px, 5px, 10px, $dg-black);

    a {
      color: $dg-dark-grey;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  
    @media #{$md-screen} {
      font-size: 16px;
    }
  }
}