#projects {
  .container {
    margin-top: 82px;

    h1 {
      margin-bottom: 8px;
      padding-bottom: 4px;
      border-bottom: 2px solid $dg-black;
      font-size: 34px;
      text-align: center;

      @media #{$md-screen} {
        font-size: 32px;
      }

      @media #{$sm-screen} {
        font-size: 30px;
      }
    }

    p, label {
      display: block;
      font-size: 18px;

      @media #{$md-screen} {
        font-size: 16px;
      }

      @media #{$sm-screen} {
        text-align: center;
      }
    }
    
    .top-pane {
      margin-bottom: 16px;
      padding: 8px;
      background-color: $dg-white;
      @include box-shadow(5px, 5px, 10px, $dg-black);

      .top-subpane {
        display: inline-block;
        margin: 0px 1%;
        width: 48%;

        @media #{$sm-screen} {
          display: block;
          margin: 12px 0px;
          width: 100%;
        }

        &#left {
          vertical-align: top;

          select {
            display: block;
            padding: 4px;
            margin-top: 4px;
            width: 100%;
            box-sizing: border-box;
            font-family: $normal-font;
            font-size: 16px;
            background-color: $dg-white;
            color: $dg-black;
            border: none;
            border-bottom: 2px solid $dg-black;
            @include transition(0.2s);
    
            &:hover {
              color: $dg-white;
              background-color: $dg-black;
              cursor: pointer;
            }
          }
        }
      }
    }

    .project-pane {
      margin-bottom: 16px;
      padding: 8px;
      background-color: $dg-white;
      @include box-shadow(5px, 5px, 10px, $dg-black);

      button {
        display: block;
        padding: 8px;
        margin-top: 128px;
        font-family: $normal-font;
        font-size: 24px;
        color: $dg-black;
        background-color: $dg-white;
        border: 2px solid $dg-black;
        @include transition(0.2s);

        &:hover {
          color: $dg-white;
          background-color: $dg-black;
          cursor: pointer;
        }

        &:disabled {
          background-color: $dg-light-grey;
          color: $dg-dark-grey-hover;

          &:hover {
            background-color: $dg-light-grey;
            color: $dg-dark-grey-hover;
            cursor: default;
          }
        }

        &#left {
          float: left;
        }

        &#right {
          float: right;
          &:after {
            @include clearfix();
          }
        }

        @media #{$md-screen} {
          font-size: 18px;
        }

        @media #{$sm-screen} {
          font-size: 16px;
        }

        @media #{$xs-screen} {
          margin: 4px 0px;
        }
      }

      #image {
        img {
          display: block;
          width: 70%;
          max-width: 640px;
          margin: 0px auto;
  
          &.hidden {
            display: none;
          }
        }

        p {
          margin: 32px;
          display: block;
          text-align: center;

          &.hidden {
            display: none;
          }
        }
      }

      h2 {
        margin: 16px 0px;
        text-align: center;
        font-size: 24px;

        @media #{$md-screen} {
          font-size: 23px;
        }

        @media #{$sm-screen} {
          font-size: 20px;
        }
      }

      #project {
        width: 70%;
        margin: 0px auto;

        p {
          margin: 2px 0px;
          text-align: center;
        }

        strong {
          font-variant: small-caps;
        }

        #links {
          margin-top: 16px;

          a {
            display: block;
            padding: 8px;
            box-sizing: border-box;
            width: 75%;
            max-width: 320px;
            margin: 0px auto;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
            color: $dg-black;
            background-color: $dg-white;
            border: 2px solid $dg-black;
            @include transition(0.2s);
            
            &:hover {
              color: $dg-white;
              background-color: $dg-black;
            }

            @media #{$md-screen} {
              font-size: 16px;
            }

            @media #{$sm-screen} {
              width: 100%;
            }
          }
        }
      }
    }
  }
}