/* Color Variables */
$dg-dark-blue: #003877;
$dg-mid-blue: #0042AB;
$dg-light-blue: #0062FF;
$dg-white: white;
$dg-near-white: #EEEEEE;
$dg-light-grey: #B2B2B2;
$dg-dark-grey-hover: #5E5E5E;
$dg-dark-grey: #2B2B2B;
$dg-near-black: #111111;
$dg-black: black;

/* Social Media Color Variables */
$twitter-blue: #0084B4;
$twitter-blue-hover: #00B7E7;
$facebook-blue: #3B5998;
$facebook-blue-hover: #6E8CCB;
$youtube-red: #DB4437;
$youtube-red-hover: #FD6658;
$fcc-green: darkgreen;
$fcc-green-hover: green;
$social-black: #111111;
$social-white: #EEEEEE;

/* Media Query Variables */
$md-screen: "only screen and (max-width: 820px)";
$sm-screen: "only screen and (max-width: 640px)";

/* Font Variables */
$normal-font: "Source Sans Pro", sans-serif;
$input-font: "Source Code Pro", monospace;
$special-font: "Source Serif Pro", serif;