#welcome {
  .container {
    width: 738px;
    margin-top: 161px;
    margin-bottom: 123px;
    background-color: $dg-white;
    @include box-shadow(5px, 5px, 10px, $dg-black);

    @media #{$md-screen} {
      margin-top: 82px;
      width: 328px;
    }

    @media #{$sm-screen} {
      width: 246px;
    }

    .pane {
      display: inline-block;
      width: 50%;

      @media #{$md-screen} {
        display: block;
        width: 100%;
        min-height: 184px;
      }

      @media #{$sm-screen} {
        min-height: 164px;
      }
  
      img {
        width: 100%;

        @media #{$md-screen} {
          display: block;
          width: 186px;
          margin: 0px auto;
        }

        @media #{$sm-screen} {
          width: 164px;
        }
      }

      h1 {
        font-size: 44px;

        @media #{$md-screen} {
          font-size: 42px;
          text-align: center;
        }

        @media #{$sm-screen} {
          font-size: 32px;
        }
      }

      h2 {
        font-size: 24px;

        @media #{$md-screen} {
          text-align: center;
          margin-bottom: 23px;
        }

        @media #{$sm-screen} {
          font-size: 20px;
          margin-bottom: 23px;
        }
      }

      a {
        display: inline-block;
        padding: 8px;
        margin-top: 16px;
        margin-right: 8px;
        box-sizing: border-box;
        font-size: 18px;
        text-decoration: none;
        color: $dg-black;
        background-color: transparent;
        border: 2px solid $dg-black;
        @include transition(0.2s);

        &:hover {
          color: $dg-white;
          background-color: $dg-black;
        }

        @media #{$md-screen} {
          display: block;
          margin: 4px;
          padding: 4px;
          text-align: center;
        }
      }

      &.middle {
        vertical-align: 134px;
      }
    }
  }
}